<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Your New App</title>

    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>

    <div class="yield-container">
      <%= yield %>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
